* {
    -webkit-text-size-adjust: none;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: Helvetica, AppleGothic, sans-serif;
    letter-spacing: 0px;
    display: block;
}

a {
    color: #121212;
}

table, tr, td {
    border: 0;
    border-spacing: 0;
    border-color: white;
//    margin: 0;
//    padding: 0;
}

a:link {
    text-decoration: none;
}

#picup {
    text-align: center;
}

#picup_image_container {
    width: 100%;
    padding: 5px;
}

#picup_image_container img {
    width: 64px;
    height: auto;
}

#picup p {
    padding: 10px;
}

#picup a:link {
    font-weight: bold;
    color: brown;
}

#topnav {
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 2.0em;
}

#view_header th {
    width: 60px;
    background-color: #dbe9ff;
}

#view_header td {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    border-bottom: 1px solid #eeeeee;
    background-color: #f0f9ff;
}

#comments {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

#comments .header {
    background-color: #e1ebf5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1ebf5), to(white));
    background-image: -webkit-linear-gradient(top, #e1ebf5, white);
    background-image: -moz-linear-gradient(top, #e1ebf5, white);
    background-image: -ms-linear-gradient(top, #e1ebf5, white);
}

#comments .author {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#comments .date {
    padding-right: 10px;
    text-align: right;
}

#comments .body {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
    padding-top: 8px;
    padding-bottom: 8px;
}

#view_body {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.15em;
}

.name {
    font-weight: bold;
    font-size: 1.1em;
}

table {
    width: 100%;
    font-size: 1em;
    border-collapse: separate;
}

#list th {
    background-color: #dbe9ff;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #ededed;
}

#list td {
    border-bottom: 1px solid #ededed;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

th {
    background-color: #f8f8f8;
}

.column_author {
    width: 30%;
    
}

#list a {
    display: block;
    padding: 0.8em 0.4em 0.8em 0.4em;
    height: 100%;
}

#list .highlight {
    background-color: #ffddff;
}

input, textarea {
    font-size: 1.1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.comment, .delete {
    font-size: 0.9em;
    padding: 2px 5px 2px 5px;
    background-color: #1a82f7;
    color: white; 
    border-radius: 4px;
}

.emph {
    text-weight: bold;
    color: #ff0000;
}

embed {
    width: 100%;
    height: 300px;
}

img {
    width: 100%;
    height: auto;
}

#postcomment {
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.15em;
}

#postcomment input {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#postcomment #input_comment {
    height: 2em;
    word-wrap: break-word;
}

#postcomment #input_submit {
    font-size: 1.1em;
}

#post {
    text-align: center;
    padding: 1em;
}

#post select {
    width: 20%;
}

#btn_submit, #btn_back {
    width: 42%;
}

#buttonbox, #fileuploads {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#post #post_contents, #post #post_subject {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#post .file {
    width: 65%;
}

#post .remove {
    width: 25%;
}

#header {
    width: 100%
    border-top: 1px solid #222222;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #222222;
    background-color: #2751cf;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2752cf), to(#1e3169));
    background-image: -webkit-linear-gradient(top, #2752cf, #1e3169);
    background-image: -moz-linear-gradient(top, #2752cf, #1e3169);
    background-image: -ms-linear-gradient(top, #2752cf, #1e3169);
}

#header select {
    width: 50%;
}

h2 {
    color: white;
    font-size: 1.2em;
    padding-left: 10px;
}

#header .button {
    float: right;
    font-size: 0.9em;
    margin-right: 0.4em;
    color: white;
}

#error {
    padding-top: 2.0em;
    padding-bottom: 3.0em;
    font-size: 1.2em;
    text-align: center;
}

.button {
    border-radius: 5px;
    background: black;
    padding: 0.4em 0.5em 0.4em 0.5em;
    color: white;
}

#error .button {
    background-color: #2666de;
}

#body {
    height: 100%;
}

//#body a:link {
//    color: black;
//}

a:visited {
//    color: #222222;
    text-decoration: none;
}

.nav {
    margin-top: 10px;
    border: 1px solid #eeeeee;
    padding: 2px;
    border: none;
}

#pagenav_container {
    text-align: center;
}

.pagenav {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
    border: 1px solid #eeeeee;
    padding: 2px;
    margin-top: 3px;
    border: none;
}

.nav td, .pagenav td {
    text-align: center;
    padding: 0.2em;
    border: none;
}

.nav a {
    width: 100%;
    display: block;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    background-color: #1a82f7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#143563), to(#1a82f7));
    background-image: -webkit-linear-gradient(top, #143563, #1a82f7);
    background-image: -moz-linear-gradient(top, #143563, #1a82f7);
    background-image: -ms-linear-gradient(top, #143563, #1a82f7);
    color: white;
    border-radius: 4px;
}

.pagenav a {
    width: 100%;
    display: block;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border: 1px solid #cccccc;
    background-color: #ebf5ff;
    border-radius: 4px;
}

.pagenav .btnhighlight {
    background-color: #248af0;
    color: white;
}

#footer {
    margin-top: 30px;
    padding: 20px 0 20px 0;
    background-color: #e0f3ff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#e0f3ff));
    background-image: -webkit-linear-gradient(top, white, #e0f3ff);
    background-image: -moz-linear-gradient(top, white, #e0f3ff);
    background-image: -ms-linear-gradient(top, white, #e0f3ff);
    font-size: 0.9em;
    line-height: 150%;
    text-align: center;
}

.disclaimer {
    padding-top: 0.4em;
    width: 100%;
    font-size: 1.1em;
    text-align: center;
}

.buttons {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#privmsg {
    margin: 3px;
    padding: 2px;
    border: 1px solid #cc0000;
    border-radius: 5px;
}

#privmsg a {
    text-align: center;
    margin: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #ffcccc;
    border-radius: 5px;
    display: block;
    color: #990000;
    font-weight: bold;
}

.notice {
    margin: 3px;
    padding: 2px;
    border: 1px solid #dff2a7;
    border-radius: 5px;
}

.notice span {
    text-align: center;
    margin: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #f3ffb5;
    border-radius: 5px;
    display: block;
    color: #9c7344;
    font-weight: bold;
}

#search {
    width: 100%;
    text-align: center;
}

#search #search_term {
    width: 20%;
}

#search .search_off {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    background-color: #ffffff;
    border-radius: 4px;
}

#search .search_on {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px;
    background-color: #248af0;
    color: white;
    border-radius: 4px;
}

#popup {
    position: fixed;
    background: rgba(242, 248, 255, 0.9);
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    display: none;
}

#popup_username {
    text-align: center;
    width: 100%;
    font-size: 1.6em;
    border-bottom: #bbccee 2px solid;
    padding-top: 20px;
}

#popup table {
    text-align: center;
    font-size: 1.3em;
    width: 100%;
    border: 0px;
    padding: 15px;
}

#popup td {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#popup a {
    color: #333388;
}

#footer a {
    color: #222222;
    font-weight: bold;
}

