{% extends "skel.html" %}

{% block body %}
{% autoescape off %}
<script type='text/javascript'>
var cur_bid = '{{bid}}'; 
</script>
<table id='list'>
  <thead>
    <tr>
      <th>제목</th>
      <th class='column_author'>글쓴이</th>
    </tr>
  </thead>
  <tbody>
{% for article in article_lists %}
    <tr {% if article.sticky %}class='highlight'{% endif %}>
      <td><a href='{{article.link}}?pq={{listquery}}'>{{article.name}} {% if article.comment %}<span class='comment'>{{article.comment}}</span>{% endif %}</a></td>
      <td class='column_author'>
        {% if article.user_no %}<a href='#' onclick="return setPopupLayer({{article.user_no}}, '{{article.user_name}}', '{{article.user_website}}', '{{article.user_email}}');">{{article.author}}</a>{% else %}{{article.author}}{% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
<table class='nav'>
  <tbody>
    <tr>
      <td><a href='/list/{{bid}}/search/myself'>내가쓴글</a></td>
      <td><a href='/list/{{bid}}'>{% if searchterm %}검색취소{% else %}첫페이지로{% endif %}</a></td>
      <td><a href='#' onclick='document.location.reload()'>새로고침</a></td>
      <td><a href='/post/{{bid}}'>글쓰기</a></td>
  </tbody>
</table>
<div id='pagenav_container'>
  <table class='pagenav'>
    <tbody>
      <tr>
{% if divprev %}
        <td><a href='/list/{{bid}}/1/div/{{divprev}}{{searchquery}}'>&lt;&lt;</a></td>
{% endif %}
{% for p in pages %}
        <td><a {% if p == page %}class='btnhighlight'{% endif %} href='/list/{{bid}}/{{p}}{{divquery}}{{searchquery}}'>{{p}}</a></td>
{% endfor %}
{% if maxpages and not maxpages in pages %}
        <td><a href='/list/{{bid}}/{{maxpages}}{{divquery}}{{searchquery}}'>&gt;</a></td>
{% endif %}
{% if divnext %}
        <td><a href='/list/{{bid}}/1/div/{{divnext}}{{searchquery}}'>&gt;&gt;</a></td>
{% endif %}
      </tr>
    </tbody>
  </table>
</div>
<script type='text/javascript'>
var sname = {
  elem: 'search_name',
  state: {% if 'name' in search or 'name_exact' in search %}true{% else %}false{% endif %},
  id: 'name'
}

var ssubject = {
  elem: 'search_subject',
  state: {% if 'subject' in search %}true{% else %}false{% endif %},
  id: 'subject'
}

var sbody = {
  elem: 'search_body',
  state: {% if 'body' in search %}true{% else %}false{% endif %},
  id: 'body'
}

var toggle = function(sobj) {
  var elem = document.getElementById(sobj.elem);

  sobj.state = !sobj.state;
  if (sobj.state)
    elem.setAttribute('class', 'search_on');
  else
    elem.setAttribute('class', 'search_off');

  return false;
}

function validate() {
  var sterm = document.getElementById('search_term').value;
  if (!sterm) {
    alert('검색어를 입력해 주십시오.');
    return false;
  }

  if (!sname.state && !sbody.state && !ssubject.state) {
    alert('최소한 하나의 검색 대상은 지정해 주셔야 합니다.');
    return false;
  }

  var res = new Array();
  if (sname.state)
    res = res.concat(sname.id);
  if (ssubject.state)
    res = res.concat(ssubject.id);
  if (sbody.state)
    res = res.concat(sbody.id);

  document.location = '/list/{{bid}}/search/' + res.join('+') + '/' + encodeURI(sterm);

  return false;
}

function initialize() {
  var sitems = [sname, ssubject, sbody]
  for (var i = 0; i < sitems.length; ++i) {
    var elem = document.getElementById(sitems[i].elem);
    if (sitems[i].state)
      elem.setAttribute('class', 'search_on');
    else
      elem.setAttribute('class', 'search_off');
  }
}

window.onload = initialize;

</script>
<div id='search'>
  <form action='/list' onsubmit='return validate()'>
    <span class='search_off' id='search_name'><a href='#' onclick='return toggle(sname)'>이름</a></span>
    <span class='search_off' id='search_subject'><a href='#' onclick='return toggle(ssubject)'>제목</a></span>
    <span class='search_off' id='search_body'><a href='#' onclick='return toggle(sbody)'>본문</a></span>
    <input type='text' id='search_term' value='{{searchterm}}' />
    <input type='submit' id='search_button' value='검색' />
  </form> 
</div>
{% endautoescape %}
{% endblock %}
