{% extends "skel.html" %}

{% block body %}
<script type='text/javascript'>
function validate() {
  if (!document.getElementById('post_subject').value || !document.getElementById('post_contents').value) {
    alert('본문을 입력해 주십시오.');
    return false;
  }

  nodoubleclick(document.getElementById('post_submit'));

  return true;
}
</script>
<div id='post'>
  <form action='{{target}}' method='post' onsubmit='return validate();' enctype='multipart/form-data'>
{% if categories %}
    <select name='category' id='post_category' size='1'>
{% for i in categories %}
      <option value='{{i.value}}' {% if i.selected %}selected='selected'{% endif %}>{{i.name}}</option>
{% endfor %}
    </select>
{% endif %}
    <input type='text' id='post_subject' name='subject' maxlength='200' value='{{subject}}' /><br />
    <textarea name='contents' id='post_contents' rows='8'>{{contents}}</textarea><br />
{% if mode == 'post' %}
    <input type='file' id='post_file', name='file' accept='image/*' /><br />
{% endif %}
    <input id='post_submit' type='submit' value='게시' />
  </form>
</div>
{% endblock %}
