{% extends "skel.html" %}

{% block body %}
<script type='text/javascript'>
function validate() {
  if (!document.getElementById('post_subject').value || !document.getElementById('post_contents').value) {
    alert('본문을 입력해 주십시오.');
    return false;
  }

  nodoubleclick(document.getElementById('post_submit'));

{% if mode == 'post' %}
  Cookies.create('unsaved_subject', document.getElementById('post_subject').value);
  Cookies.create('unsaved_body', document.getElementById('post_contents').value);
{% endif %}

  return true;
}

var cnt = 1;

function del_file_upload_form(id) {
  var root = document.getElementById('fileuploads');
  root.removeChild(document.getElementById(id));
}

function add_file_upload_form() {
  var div = document.createElement('div');
  div.setAttribute('id', 'post_file' + cnt);

  var input = document.createElement('input');
  input.setAttribute('type', 'file');
  input.setAttribute('name', 'file' + cnt);
  input.setAttribute('class', 'file');
  input.setAttribute('accept', 'image/*');

  var del = document.createElement('input');
  del.setAttribute('type', 'button');
  del.setAttribute('value', '삭제');
  del.setAttribute('class', 'remove');
  del.setAttribute('onclick', 'del_file_upload_form(\'post_file' + cnt + '\')');

  div.appendChild(input);  
  div.appendChild(del);

  var fileuploads = document.getElementById('fileuploads');
  fileuploads.appendChild(div);

  ++cnt;
}

function init() {
  add_file_upload_form();

{% if mode == 'post' %}  
  if (Cookies['unsaved_body'] && Cookies['unsaved_subject']) {
    if (confirm('게시하지 못한 글이 있습니다. 복원하시겠습니까?')) {
      document.getElementById('post_subject').value = Cookies['unsaved_subject'];
      document.getElementById('post_contents').value = Cookies['unsaved_body'];
    } else {
      Cookies.erase('unsaved_subject');
      Cookies.erase('unsaved_body');
    }
{% endif %}
  }
}

window.onload = init;
</script>
<div id='post'>
  <form action='{{target}}' method='post' onsubmit='return validate();' enctype='multipart/form-data'>
{% if categories %}
    <select name='category' id='post_category' size='1'>
{% for i in categories %}
      <option value='{{i.value}}' {% if i.selected %}selected='selected'{% endif %}>{{i.name}}</option>
{% endfor %}
    </select>
{% endif %}
    <input type='text' id='post_subject' name='subject' maxlength='200' value='{{subject}}' /><br />
    <textarea name='contents' id='post_contents' rows='8'>{{contents}}</textarea><br />
{% if mode == 'post' %}
    <div id='fileuploads'>
      <input type='button' id='post_add' value='첨부파일 추가' onclick='add_file_upload_form()' />
    </div>
{% endif %}
    <div id='buttonbox'>
      <input id='post_submit' type='submit' value='게시' />
      <input id='post_back' type='button' value='취소' onclick='history.back();' />
    </div>
  </form>
</div>
{% endblock %}
