{% extends "skel.html" %}

{% block body %}
<div id='post'>
  <form action='{{target}}' method='post' onsubmit='return validate();' enctype='multipart/form-data'>
{% if categories %}
    <select name='category' id='post_category' size='1'>
{% for i in categories %}
      <option value='{{i.value}}' {% if i.selected %}selected='selected'{% endif %}>{{i.name}}</option>
{% endfor %}
    </select>
{% endif %}
    <input type='text' id='post_subject' name='subject' maxlength='200' value='{{subject}}' /><br />
    <textarea name='contents' id='post_contents' rows='8'>{{contents}}</textarea>
{% if mode == 'post' %}
    <br /><input type='file' id='post_file', name='file' />
{% endif %}
    <input type='submit' value='게시' />
  </form>
</div>
{% endblock %}
