{% extends "skel.html" %}

{% block body %}
<div class='notice'><span>빙의되는 문제 또다시 발견되면 알려주시면 감사하겠습니다.</span></div>
<script type='text/javascript'>
  function validate() {
    if (!document.getElementById('input_userid').value || !document.getElementById('input_password').value) {
      alert('아이디와 패스워드를 정확히 입력하여 주십시오.');
      return false;
    }

    nodoubleclick(document.getElementById('btn_submit'));

    return true;
  }
</script>
<form action='/signon' method='post' onsubmit='return validate();'>
  {% if redirect %}<input type='hidden' name='redirect' value='{{redirect}}' />{% endif %}
  <table>
    <tbody>
      <tr>
	<th>아이디</th>
	<td><input id='input_userid' type='text' name='userid' size='15' autocapitalize='off' autocorrect='off' value='{{userid}}' /></td>
      </tr>
      <tr>
	<th>패스워드</th>
	<td><input id='input_password' type='password' name='password' size='15' value='{{password}}' /></td>
      </tr>
      <tr>
	<th></th>
	<td><input id='input_saveform' type='checkbox' name='saveform' value='true' {{saveform}} /><label for='input_saveform'>로그인 정보 저장</label></td>
      </tr>
    </tbody>
  </table>
  <div class='disclaimer'>이 서비스는 여러분의 패스워드를 <span class='emph'>절대 결코 네버</span> 부정하게 취급하지 않으므로 걱정 붙들어 매셔도 좋습니다.</div>
  <div id='buttonbox'>
    <input id='btn_submit' type='submit' value='로그인' />
    <input id='btn_back' type='button' onclick='history.back()' value='취소' />
  </div>
</form>
{% endblock %}
