<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta http-equiv='Content-Script-Type' content='text/javascript' />
    <meta http-equiv='Content-Style-Type' content='text/css' />
    <meta name='viewport' content='initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <link rel='apple-touch-icon' href='/static/touch-icon.png' />
    <title>ⓢ.excf.com | {{title}}</title>
    <style type="text/css">
      @import url('http://e.influx.kr/static/style.css');
    </style>
    <script type="text/javascript" src="http://e.influx.kr/static/common.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
<h2>{{title}}</h2>
{% if bid %}
<div id='popup'>
  <div id='popup_username'></div>
  <table id='popup_table'>
    <tr id='popup1'><td><a href='#' onclick='return visitHome();'>홈페이지 가기</a></td></tr>
    <tr id='popup2'><td><a href='#' onclick='return sendMail();'>메일 보내기</a></td></tr>
    <tr id='popup3'><td><a href='#' onclick='return sendMessage();'>쪽지 보내기</a></td></tr>
    <tr id='popup4'><td><a href='#' onclick='return findByName();'>이름으로 검색</a></td></tr>
  </table>
</div>
{% endif %}
<div id='header'>
  <div id='topnav'>
    <select name='jump' onchange='jump(this.options[this.selectedIndex].value);' size='1'>
      <option value=''>메뉴</option>
{% for item in jumplist %}
      <option value='{{item.location}}' {% if location == item.id %}selected='selected'{% endif %}>{{item.name}}</option>
{% endfor %}
    </select>
{% if signed_on %}
    <a class='button' href='/signoff'>로그아웃 ({{user}})</a>
{% endif %}
  </div>
</div>
{% if new_privmsg %}
<div id='privmsg'><a href='/inbox/'>읽지 않은 쪽지가 있습니다.</a></div>
{% endif %}
<div id='body'>
{% block body%}{% endblock %}
</div>
    <div id='footer'>
      <p>이 사이트는 <a href='http://excf.com'>ExCF</a>와 직접적인 관계가 없습니다.</p>
      Powered by <a href='http://influx.kr'><span class='emph'>!</span>nflux</a><br />
      <a href='/inbox/to/1622'>피드백</a> | <a href='https://github.com/segfault87/excfbridge'>소스 코드</a>{% if admin %} | <a href='/admin'>관리자</a>{% endif %}
    </div>
  </body>
</html>
