<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta http-equiv='Content-Script-Type' content='text/javascript' />
    <meta http-equiv='Content-Style-Type' content='text/css' />
    <meta name='viewport' content='initial-scale=1.0, width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="theme-color" content=
{% if css == 'light' %}"#1b3991"
{% elif css == 'dark' %}"#800000"
{% endif %} >
    <link rel='manifest' href='/static/manifest.json' />
    <link rel='apple-touch-icon' href='/static/touch-icon.png' />
    <title>ExCF | {{title}}</title>
    <style type="text/css">
      @import url('/static/{% if css %}{{css}}{% else %}light{% endif %}.css');
    </style>
    <script type="text/javascript" src="/static/common.js"></script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28451536-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
{% if bid %}
<div id='popup'>
  <div id='popup_username'></div>
  <table id='popup_table'>
    <tr id='popup1'><td><a href='#' onclick='return visitHome();'>홈페이지 가기</a></td></tr>
    <tr id='popup2'><td><a href='#' onclick='return sendMail();'>메일 보내기</a></td></tr>
    <tr id='popup3'><td><a href='#' onclick='return sendMessage();'>쪽지 보내기</a></td></tr>
    <tr id='popup4'><td><a href='#' onclick='return findByName();'>이름으로 검색</a></td></tr>
  </table>
</div>
{% endif %}
<div id='header'>
  <h2>{{title}}</h2>
  <div id='topnav'>
    <select name='jump' onchange='jump(this.options[this.selectedIndex].value);' size='1'>
      <option value=''>메뉴</option>
{% for item in jumplist %}
      <option value='{{item.location}}' {% if location == item.id %}selected='selected'{% endif %}>{{item.name}}</option>
{% endfor %}
    </select>
{% if signed_on %}
    <a class='button' href='/signoff' onclick='return confirm("정말 로그아웃하시겠습니까?")'>로그아웃</a>
    <a class='button' href='/config'>설정</a>
{% endif %}
  </div>
</div>
<!--<div class='notice'><span>서버 용량 관계로 8월 1일자로 자유게시판 첨부사진 비웁니다.</span></div>-->
{% if new_privmsg %}
<div id='privmsg'><a href='/inbox/'>읽지 않은 쪽지가 있습니다.</a></div>
{% endif %}
<div id='body'>
{% block body %}{% endblock %}
</div>
    <div id='footer'>
      {% if user %}<p>현재 로그인: <b>{{user}}</b></p>{% endif %}
      Powered by <a href='http://github.com/segfault87/excfbridge'>flexigate-0.9.7</a><br />
      <a href='mailto:segfault87@gmail.com'>문의</a>
{% if admin %}
      | <a href='/admin'>관리자</a>
{% endif %}
    </div>
  </body>
</html>
